@import '../../styles/variables';
@import '../../styles/mixins';

.changePassword {
  display: flex;
  .content {
    flex: 1;
    @include flexColumnCenter;
  }

  .title {
    text-align: center;
    margin-top: 20px;
    color: $blueColor;
  }

  form {
    @include flexColumn;
    width: 382px;
    max-width: 100%;
    padding: 16px;
    margin-bottom: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  }

  &__group {
    @include flexColumn;
    margin: 8px 0;

    label {
      margin-bottom: 4px;
    }

    input {
      height: 56px;
      padding: 16px;
      border-radius: 8px;
      border: 1px solid $blueColor;
    }

    input.border-error {
      border-color: $redColor;
    }

    input::placeholder {
      color: $placeholderColor;
    }

    .error-msg {
      color: $redColor;
    }
  }

  &__action {
    @include flexJustifyEnd;
    gap: 8px;
  }
}
