@import '../../styles/variables';
@import '../../styles/mixins';

.changePassword {
  display: flex;
  .content {
    flex: 1;
    margin-bottom: 40px;
    @include flexColumnCenter;
  }

  .title {
    text-align: center;
    margin: 20px 0 20px 0;
    color: $blueColor;
  }

  @include formWrapper;

  &__group {
    @include flexColumn;
    @include formInput;
    margin: 8px 0;
  }

  &__action {
    @include flexJustifyEnd;
    gap: 8px;
  }
}
