@import '../../styles/variables';

.device {
  display: flex;

  .content {
    padding: 0 16px;
    flex: 1;
  }

  .title {
    text-align: center;
    margin-top: 20px;
    color: $blueColor;
  }

  &__action {
    display: flex;
    gap: 8px;
    flex-shrink: 0;
    font-size: 20px;

    button {
      background: $greenColor;
      font-size: 20px;
    }

    button:hover {
      background: $greenColor;
      opacity: 0.8;
    }
  }

  &__content {
    margin-top: 16px;
    margin-bottom: 40px;
    display: flex;
    gap: 16px;
  }

  &__info {
    flex: 1;
    p {
      font-weight: 600;
    }

    p:last-of-type {
      margin-bottom: 16px;
    }
  }
}
