@import '../../styles/variables';
@import '../../styles/mixins';

.notification {
  display: flex;
  .content {
    @include flexColumnCenter;
    flex: 1;
    padding: 16px;
  }

  .title {
    text-align: center;
    margin-top: 20px;
    color: $blueColor;
  }

  &__cards {
    @include flexColumnCenter;
    gap: 8px;
  }

  button {
    align-self: flex-end;
  }

  &__card {
    width: 700px;
    border: 1px solid $blueColor;
    border-radius: 8px;
    padding: 16px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__card--info {
    font-weight: 600;
    font-style: italic;

    span {
      color: $greenColor;
    }
  }

  &__card--time {
    font-weight: 600;
    font-style: italic;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 2px;
  }
}
