@import '../../styles/variables';
@import '../../styles/mixins';

.dashboard {
  display: flex;
  .content {
    flex: 1;
  }

  .title {
    text-align: center;
    margin-top: 20px;
    color: $blueColor;
  }
}

@include lgMaxBreakPoint {
  .dashboard {
    margin-top: 40px;
    display: block;

    .title {
      margin-top: 0;
    }
  }
}
