@import '../../../styles/variables';
@import '../../../styles/mixins';

.card {
  @include flexCenter;
  flex-wrap: wrap;
  padding: 16px;
  gap: 32px;

  &__green {
    background-color: $greenColor;
  }

  &__red {
    background-color: $redColor;
  }

  &__yellow {
    background-color: $yellowColor;
  }

  &__wrapper {
    width: 300px;
    height: 100px;
    border-radius: 8px;
    color: white;
    padding: 8px;
    text-align: center;
  }

  &__label {
    @include flexCenter;
    gap: 8px;
    font-size: 20px;
  }

  &__value {
    font-size: 32px;
  }
}
