.tooltip {
  background-color: white;
  padding: 16px;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 8px;

  .label {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: red;
  }
}
