@import '../../styles/variables';
@import '../../styles/mixins';

.signup {
  .container {
    @include flexColumnCenter;
    padding: 0 12px;
    margin-bottom: 40px;
  }

  .slogan {
    margin-top: 40px;
    max-width: 700px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    span {
      color: $redColor;
    }
  }

  form {
    @include flexColumn;
    width: 382px;
    max-width: 100%;
    padding: 16px;
    border-radius: 12px;
    background: #f2f2f2;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  }

  .signup__title {
    text-align: center;
    color: $blueColor;
    font-weight: 700;
    font-size: 20px;
  }

  &__group {
    @include flexColumn;
    margin: 8px 0;

    label {
      margin-bottom: 4px;
    }

    input {
      height: 56px;
      padding: 16px;
      border-radius: 8px;
      border: 1px solid #e3e3e3;
    }

    input.border-error {
      border-color: $redColor;
    }

    input::placeholder {
      color: #eeeeee;
    }

    .error-msg {
      color: $redColor;
    }
  }

  &__btn {
    height: 56px;
    background: $blueColor;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &__cta {
    margin-top: 8px;
    text-align: center;

    a {
      color: $blueColor;
      margin-bottom: 16px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
