@import '../../styles/variables';
@import '../../styles/mixins';

.detail_device {
  display: flex;

  .content {
    padding: 0 16px;
    flex: 1;
  }

  .title {
    text-align: center;
    margin-top: 20px;
    color: $blueColor;
  }

  &__action {
    display: flex;
    gap: 12px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
  }

  &__info {
    flex: 1;
    display: grid;
    border: 1px solid $blueColor;
    border-radius: 8px;
    background-color: #e0e8e7;
    padding: 12px;
    grid-template-columns: 1fr 1fr;
    gap: 12px 60px;
  }

  &__relay {
    @include flexCenter;
    width: 200px;
    height: 120px;
    border-radius: 8px;
    border: 1px solid $blueColor;
    span {
      font-size: 20px;
    }
  }

  &__deleteBtn {
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 8px;
    background: $redColor;
    color: white;
  }

  &__deleteBtn:hover {
    opacity: 0.9;
  }

  &__content {
    margin-top: 16px;
    margin-bottom: 40px;
  }
}
