@import '../../styles/variables';

.station {
  display: flex;

  .content {
    padding: 0 16px;
    flex: 1;
  }

  .title {
    text-align: center;
    margin-top: 20px;
    color: $blueColor;
  }

  &__action {
    display: flex;
    gap: 8px;
    flex-shrink: 0;
    font-size: 20px;
  }

  &__content {
    margin-top: 16px;
    margin-bottom: 40px;
    display: flex;
    gap: 16px;
  }

  &__table {
    flex: 1;
  }

  &__map {
    width: 500px;
    height: 500px;
    border: 1px solid #333;
  }
}
