@import '../../styles/variables';

.station {
  display: flex;

  .content {
    padding: 0 16px;
    flex: 1;
  }

  .title {
    text-align: center;
    margin-top: 20px;
    color: $blueColor;
  }

  &__action {
    display: flex;
    gap: 8px;
    flex-shrink: 0;
    font-size: 20px;

    button {
      background: $greenColor;
      cursor: pointer;
      font-weight: 500;
      color: white;
      border-radius: 8px;
      padding: 0 12px;
      font-size: 20px;
    }

    button:hover {
      background: $greenColor;
      opacity: 0.8;
    }
  }

  &__content {
    margin-top: 16px;
    margin-bottom: 40px;
    display: flex;
    gap: 16px;
  }

  &__table {
    flex: 1;
  }

  &__map {
    width: 500px;
    height: 500px;
    border: 1px solid #333;
  }
}
