@import '../../styles/variables';

.deleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  background: $redColor;
  color: white;
}

.deleteBtn:hover {
  opacity: 0.9;
}

.modal-delete {
  input {
    border: 1px solid $blueColor;
    width: 250px;
    max-width: 100%;
    padding: 12px;
    border-radius: 8px;
  }

  &__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 8px;
    padding: 16px;
  }

  &__title {
    text-align: center;
    font-size: 20px;
    color: $redColor;
  }

  &__action {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    font-size: 16px;
    margin-top: 12px;
  }

  &__btn {
    font-weight: 500;
    padding: 12px;
    cursor: pointer;
    border-radius: 8px;
  }

  &__btn:hover {
    opacity: 0.8;
  }

  &__action-cancel {
    background: #eee;
  }

  &__action-delete {
    background: $redColor;
    color: white;
  }
}
