@import '../../styles/variables';
@import '../../styles/mixins';

.register {
  .container {
    @include flexColumnCenter;
    padding: 0 12px;
    margin-bottom: 40px;
  }

  @include slogan;

  &__title {
    text-align: center;
    color: $blueColor;
    font-weight: 700;
    font-size: 20px;
  }

  @include formWrapper;

  &__group {
    @include flexColumn;
    @include formInput;
    margin: 8px 0;
  }

  &__cta {
    margin-top: 8px;
    text-align: center;

    a {
      color: $blueColor;
      margin-bottom: 16px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
